* {
    margin: 0%;
    padding: 0%;
    }
    
    body{
        background-image: linear-gradient(lemonchiffon, #dd371a);
    }

    .cabeçalho{
    color: rebeccapurple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho_imagem{
    width: 22%;
    }
    
    .cabeçalho_titulo{
    font-size: 50px;
    }
    
    .cabeçalho_lista_item{
    margin: 25px 0px 25px 0px;
    font-size: 20px;
    }

    .apresentaçao_trabalho{
        font-size: 25px;
    display: flex;
    justify-content: left;    
    padding: -20%;
   margin:  auto
    }
    
  .Texto1{
    font-size: 25px;
    justify-content: left;
    margin-left: auto;
  }

    .texto2{
        font-size: 25px;
     }

    .titulo_apresentaçao_trabalho{
    font-size: 35px;
    color: blueviolet;
    }


    .Titulo1{
        font-size: 25px;
        color: black
    }
   
   
 

    .akat{
        font-size: 30px;
        justify-content: center;
       
        color: rgb(126, 11, 235)
    }
    

    
    .Texto3{
        
        font-size: 25px;
    }
    
    .Texto4{
        
   font-size: 25px;
    }

    .Texto5{
        
   font-size: 25px;
    }

    .link-pimentinha{
        font-size: 25px;
    }

    .imagens{
        justify-content:  space-around
        width 
    }

    .fotos1{
        width: 15%;
        justify-content: center
    }

    .fotos2{
        width: 5px
    }

    .footer1{
        font-size: medium;
        width: 70%;
    }